:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #ffffff;
  --second-color: #ededed;
  --main-color: #ff4d05;

  --big-font: 5rem;
  --h2-font: 2.7rem;
  --p-font: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 6rem 10%;
}

@media (max-width: 768px) {
  section {
    padding: 5rem 6%;
  }
}

